:root{
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Courier New, Helvetica Neue, sans-serif;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  height:100%;
  background-color: #1b2b1b;
  color: antiquewhite;
}

a {
  color: inherit;
  text-decoration: none;
  cursor:pointer;
}

* {
  box-sizing: border-box;
}

div{

  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:21px;
  width: 100vw; 

}

header{
  font-size:18px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  width:100vw;
  height: 77px;
}
.bold {
  font-weight: bold;
}
button {
  color: inherit;
  background-color:transparent;
  border:none;
  font-size:18px;
  cursor: pointer;
  font-family:  inherit

}
.lightMode {
   background-color: antiquewhite;
   color:#1b2b1b;
}

.deal {
    margin-left:12px;
}
footer{

  bottom: 18px;
  width: 100%;

}

.container{

  width:88vw;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  cursor:pointer;
  
}

.pop{
  flex-direction: row;
  flex-wrap:wrap;
  height:270px;
  width:180px;
}
.pop:hover {
  transform: scale( 1.02)
}
.cardcontainer{
 
  margin:18px;
  display: flex;
  justify-content: space-around;
  
}
.slicedcontainer{
  width:33%;

}