:root{
  color:#0e00cf;
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Courier New, Helvetica Neue, sans-serif;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  height:100%
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div{

  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:18px;
  width: 100vw; 

}

header{
  
  display: flex;
  justify-content: space-around;
  align-items:center;
  width:100vw;
  height: 77px;
}

button {
  color: inherit;
  background-color:transparent;
  border:none;
  font-size:18px;
  cursor: pointer;
  font-family:  inherit

}
.lightMode {
   background-color: antiquewhite;
}

footer{
  position: fixed;
  left: 0;
  bottom: 18px;
  width: 100%;

}
.images{
   width:180px;
}

.image{
   height:80vh;
}
.container{

  width:80vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  cursor:pointer;
}
.cardcontainer{
  margin:18px;
  width:80vw;
  height:100vh;
  display: flex;
  justify-content: space-around;
  
}